<h2>Список контактов</h2>
<% @contacts.each do |contact| %>
 	<p>Номер сообщения: <%= contact.id %></p>
	<p>Адрес электронной почты: <%= contact.email %></p>
	<p>Текст сообщения: <%= contact.message %></p>
	=====================================================
<% end %>	
